@model MvcRestauracja.Models.Stolik

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Stolik</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nakrycie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nakrycie)
        </dd>
    </dl>
</div>
    <div class="row mt-3">
        <div class="col-md-6">
            <form asp-action="Delete" method="post">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edytuj</a>
                <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
            </form>
        </div>
    </div>
</div>
